<div class="jumbotron">
    <div class="container-head">
        <div class="container-logos">
            <div class="logos-item col-12 md-col-12">
                <img class="col-4 md-col-4 head-logos" src="./../../../../assets/images/marvel-logo.png" alt="logo marvel comics">
                <img class="col-4 md-col-4 head-logos" src="./../../../../assets/images/dc-logo.png" alt="logo dc comics">
                <img class="col-4 md-col-4 head-logos" src="./../../../../assets/images/image_logo.png" alt="logo image comics">
            </div>
            <div>
            </div>
        </div>
        <h3 class="head-date">Fecha y hora de la ultima conexión : {{today}}</h3>
    </div>
</div>